<div ng-include="'html/navBar.html'"></div>

<div class="container" ng-mouseup="isMouseDown = false">
  <header role="banner">
    <h1>Bills</h1>
  </header>

  <form class="form-inline" ng-submit="submitForm()">
    <div class="form-group">
      <label for="Label">Item</label>
      <input type="text" class="form-control" id="Label" placeholder="Name" ng-model="billLabel">
      <label for="Person">Who paid?</label>
      <select class="form-control" id="Person" ng-model="billPayer">
	<option>Ken</option>
	<option>Mike</option>
	<option>Sarah</option>
        <option>Ariana</option>
      </select>
      <label for="Category">Category</label>
      <select class="form-control" id="Category" ng-model="billCategory">
	<option>Utilities</option>
	<option>Groceries</option>
	<option>Misc</option>
      </select>
      <label for="Amount">Amount</label>
      <input type="text" class="form-control" id="Amount" placeholder="$0.00" ng-model="billTotal">
      <button type="submit" class="btn btn-default">Submit Item</button>
    </div>
  </form>
  <div class="form-group">
    <button class="btn btn-default" ng-click="clearSelected()">Clear selected</button>
    <button class="btn btn-default" ng-click="sumBills()">Sum Bills</button>
  </div>

  <table class="table" ng-mousedown="isMouseDown = true" id="billTable">
    <thead>
      <tr>
        <th>Item</th>
        <th>Who paid?</th>
        <th>Category</th>
	<th>Amount</th>
	<th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in bills" ng-mouseenter="highlightIfDown($index)"
	  bgcolor="{{$parent.getColor($index)}}"
	  ng-mousedown="highlight($index)">
	<td>{{ x.name }} </td>
	<td>{{ x.payed }}</td>
	<td>{{ x.category }}</td>
	<td>{{ x.total }}</td>
	<td>{{ dateFormat(x.date) }}</td>
	<td><button type="button" class="btn btn-default" ng-click="billDel(x)">
	    Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
