<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h1 class="blogHeader">Philadelphia's Climate Politics</h1>
  <button class="btn blogbutton" id="20170722"
	  type="button" ng-click="toggle('20170722')">Carbon Budget and 2 Degrees Celsius</button>
  <div class="blogPost" id="post-20170722" ng-show="showDict['post-20170722']">


    <p>
      The headline goal of the Paris agreement is as follows:
    </p>
    
    <blockquote>
      Holding the increase in the global average temperature to well below 2 °C above
      pre-industrial levels and to pursue  efforts  to limit the  temperature  increase
      to 1.5 °C above  pre-industrial levels,  recognizing that this would significantly
      reduce the risks and impacts of climate change;
    </blockquote>

    <p>
      Roughly speaking, the temperature
      that the earth reaches is contingent on cumulative emissions of carbon
      dioxide, with some leeway for other greenhouse gases given. This allows us to determine
      a budget we must live within if we want to stay below 2 degrees Celsius with a given
      probability. The above agreement says "well below 2 °C", but if we're charitable and
      read that "well below" as "a 66% chance of staying below" then the chart beneath
      demonstrates how fast our emissions must fall given action delayed to a certain date,
      assuming (again, charitably) an exponential rate of decarbonization.
    </p>

    <div class="chart_wrapper">
      <input type="range" ng-model="delayDate" id="delayRange" ng-change="updateFuture()">
      <svg class="chart">
    </div>

    <p>
      The longer we wait, the faster we have to go, if we're serious about 2 degrees.
      This, then, is the lens through which our policies should be measured. Policies that
      merely hold our emissions constant, or those that give emissions reduction rates of
      1 or 2 percent a year, are stunningly inadequate to the challenge at hand. When a
      politician (like our Mayor) symbolically signs on to the Paris agreement, then it
      ought to be contingent on them to demonstrate how they will get emissions to fall
      fast enough to be consistent with 2 °C. Symbolic gestures will mean little to
      the lives of young and vulnerable people around the planet. 
    </p>

  </div>
</div>
