<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h2 class="blogTitle">Philadelphia's Emissions Targets</h2>
  <div class="blogPost" id="post-20170808">

    <p>
      Mayor Jim Kenney has set emissions targets for Philadelphia that mimic the United
      States' Paris agreement, which is <a href="http://www4.unfccc.int/ndcregistry/PublishedDocuments/United%20States%20of%20America%20First/U.S.A.%20First%20NDC%20Submission.pdf">26-28% by 2025</a>.
      Philadelphia also has a long term commitment of 80% by 2050. I'd like to explore these
      targets a bit, both in their adequacy and the difficulty Philadelphia might have in
      reaching them. 
    </p>

    <p>
      In the <a href="/#/blog/20170722">last post</a> I argued that the US Paris commitments
      were not consistent with the headline goal of the Paris agreement. This is without even
      considering the <a href="http://paris-equity-check.org/#open-graph">equity argument</a>;
      that is, those of us with large footprints, using up
      more of the budget, ought to reduce our emissions the fastest. It is far easier for
      us to give up a flight per year, or to switch our diets from beef to chicken, than it is
      for the global poor to eliminate their already tiny amounts of carbon dioxide.
    </p>
      

  </div>
  <hr>
  <div ng-include="'html/blogComments.html'"></div>
</div>
