<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h2 class="blogTitle">Transportation</h2>
  <h4 class="blogSubtitle">More Public Transportation, Fewer Cars</h4>

  <div class="blogPost" id="post-20170905">

    <p>
      Transportation constitutes Philadelphia's second biggest source of greenhouse gas
      emissions, after buildings. To this point, however, transportation has remained an
      intractable source of emissions, even in places like
      <a target="_blank"
	 href="https://www.vox.com/energy-and-environment/2017/8/22/16177820/california-transportation">California</a> where there has been
      substantial progress in reducing emissions. 
    </p>

    <p>
      A <a href="http://drexel.edu/~/media/Files/now/
		 pdfs/Reducing%20GHG%20in%20Philadelphia.ashx?la=en">
	recent report
      </a>
      from Drexel University details various scenarios by which the city can
      reduce its emissions. Somewhat disturbingly, only one of their scenarios
      for transportation reaches the 2050 target of an 80% reduction in emissions, and this
      scenario includes a large buildout of renewables, which would reach 49% of the electricity
      mix (from 2% currently) and nuclear, which would reach 40% of the energy mix (from 27%
      currently). Coupled with an increase in electricity demand that is necessary to
      decarbonize the energy system, this scenario represents a somewhat ambitious case
      for the electricity sector moving forward. However, it's not clear why the study chose
      49% renewables as an optimistic case given that studies have shown
      <a target="_blank" href="https://www.nrel.gov/analysis/re_futures/">
	80% of renewable electricity is feasible for the US. 
      </a>
      In addition to this "optimistic" electricity mix, the scenario that reaches the 80%
      reduction in emissions also includes significant behavior change, with large increases
      in the public's use of walking, biking, and public transit. Given that this is probably
      policy over which the city has the most control, I'd like to focus on this part of policy.
    </p>
    
    <p>
      As of right now (5:15 PM on a Tuesday) it would take me 20 minutes to drive to city hall.
      This is without considering the time to find a parking spot once I get there. Alternatively,
      I could bike (23 minutes) or take public transit (17 minutes). So then why do people drive
      in the city? One possible reason is the lack of safe infrastructure for bikes. For most
      travel paths in the city, the majority of your trip will not be protected. You may have
      a bike lane, but you will almost certainly not have any protection from cars who double
      park, or who are dropping someone off, or who simply drive erratically. 
      Infrastructure is paid for by the city at large,
      despite there being only <a target="_blank" href="http://www.governing.com/gov-data/car-ownership-numbers-of-vehicles-by-city-map.html">five vehicles per ten residents.</a>
    </p>
    
  </div>
</div>
