<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h2 class="blogTitle">Harvey and Our Future</h2>
  <div class="blogPost" id="post-20170830">

    <p>
      In light of the disaster that is ongoing in Houston and other places along the gulf coast,
      I'd like to share some thoughts. First though, I'd like to express solidarity and sympathy
      with the people in Houston and other places in Texas and Louisiana who have lost family
      members and friends, had their homes flooded or destroyed, or otherwise have had their lives
      disrupted by this storm. It will be a long time before we can tally the full impact
      of this storm, but Harvey will unquestionably be one of the costliest natural disasters
      in US history. I hope that it is not also one of the deadliest. 
    </p>

    <p>
      I must also say with great sadness that this will almost cetrainly not be the
      worst event in my lifetime. 
    </p>

    <p>
      For those asking what role climate change plays in events like this, there's an
      excellent <a target="_blank"
					      href="http://www.politico.com/magazine/story/2017/
						08/28/climate-change-hurricane-harvey-215547">
	article
      </a> from Eric Holthaus 
      that details what we know about the relationship between climate change and Harvey,
      but the short of it is that yes, climate change made Harvey worse/more likely, and it
      will probably lead to a higher frequency of superstorms in the future. 
    </p>

    <p>
      Without intervention, the world is heading for a level of global warming that would
      deliver us an unrecognizable planet, and would make life more
      difficult for billions of people around the earth. We will see more disasters like
      the <a target="_blank"
	     href="https://www.scientificamerican.com/article/boomtown-flood-town/"> Memorial
	and Tax Day Floods</a>, <a target="_blank" href="http://www.independent.co.uk/news/
							 world/asia/india-floods-bangladesh
							 -nepal-deaths-millions-homeless-
							 latest-news-updates-a7919006.html">
	the awful flooding in Bangladesh</a>, and stronger
      hurricanes. We simply cannot keep continuing down the path of unchecked pollution that we
      have been heading down, or the future of coastal cities that are vulnerable to superstorms
      and areas that are prone to flooding looks increasingly grim, to say nothing of areas which
      experience other effects from the relentless release of greenhouse gases. We have to start
      making hard choices about the things that are important to us, because our high carbon
      lifestyles and energy systems are in direct conflict with the health of places like
      Houston, not to mention the people around the planet who are more immediately vulnerable
      to a changing climate. 
    </p>

    <p>
      It is sometimes said that the best measure of a person's life is the impact that they
      have on others and the world around them. In this sense, we live in fortuitous times;
      the choices we make, and inspire others to make, will impact the natural world and the
      way we interact with it for millenia. Each day we are given the opportunity to slightly
      alter the disastrous trajectory our civilization is on, and I cannot think of
      anything else more worth doing. 
    </p>
    
    <hr>
  <div ng-include="'html/blogComments.html'"></div>
  </div>
</div>


