<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h2 class="blogTitle">Transportation</h2>
  <h4 class="blogSubtitle">Bike Lanes</h4>

  <div class="blogPost" id="post-20170913">

    <p>
      Transportation constitutes Philadelphia's second biggest source of greenhouse gases,
      second to buildings. Transportation has remained an
      intractable source of emissions virtually everywhere in the US, even in places like
      <a target="_blank"
	 href="https://www.vox.com/energy-and-environment/
	       2017/8/22/16177820/california-transportation">
	California
      </a>
      where there has been
      substantial progress in reducing emissions in general.  
    </p>

    <p>
      A <a href="http://drexel.edu/~/media/Files/now/
		 pdfs/Reducing%20GHG%20in%20Philadelphia.ashx?la=en">
	recent report
      </a>
      from Drexel University details various scenarios by which the city can
      reduce its emissions. Somewhat disturbingly, only one of their scenarios
      for transportation reaches the 2050 target of an 80% reduction in emissions,
      although their best case for the renewable share of the electricity mix is a somewhat
      mediocre 49% (see
      <a target="_blank" href="https://www.nrel.gov/analysis/re_futures/">
	here
      </a>
      and
      <a target="_blank"
	 href="https://www.vox.com/energy-and-environment/2017/8/30/
	16224582/wind-solar-exceed-expectations-again">
	here
      </a>
      for more optimistic cases), and if we can exceed that, the decarbonization challenge
      becomes somewhat easier. In addition to this "optimistic" electricity mix, and a large
      increase in the share of electric vehicles, the scenario that reaches the 80% reduction
      in emissions also includes significant behavior change, with large increases
      in the public's use of walking, biking, and public transit. Given that this is where local
      policy could prove most effective, I'd like to focus on it. 
    </p>
    
    <p>
      As of right now (5:15 PM on a Tuesday) it would take me 20 minutes to drive to city hall.
      This is without considering the time to find a parking spot once I get there. Alternatively,
      I could bike (23 minutes) or take public transit (17 minutes). So then why do so many
      people drive
      in the city? After all, some monthly car payments are comparable to lifetime costs for
      bikes, and public transit is similarly cheap in comparison. Of course, not
      all places in the city are equally accesible via public transit (although the bus system
      is quite extensive), 
      so for those who prefer not to bike, a car may be the only option. But one can then beg
      the question "Why don't more people prefer to bike?"
    </p>

    <p>
      One possible reason is the lack of safe infrastructure for bikes. 
      Despite there being only <a target="_blank" href="http://www.governing.com/gov-data/car-ownership-numbers-of-vehicles-by-city-map.html">five vehicles per ten residents</a>, most
      infrastructure in the city is designed for automobile use, with little regard
      for the safety of cyclists. Designing a transportation system such that
      bicylists do not have to share a space with angry people wielding potentially lethal,
      multi-ton hunks of metal ought to be a bare minimum for encouraging a shift in
      transportation mode.
    </p>

    <div>
      <svg class="chart"></svg>
    </div>

    <div class="chart_caption">
      <p>
	Visualization of bike lanes which are protected by a physical barrier; more info
	<a target="_blank" href="http://www.philadelphiastreets.com/
survey-and-design-bureau/bicycle-network/ryan-avenue-2-way-protected-bike-lane/">
	  here.
	</a>
	Roads in light blue have either unprotected bike lanes or no bike lanes
	at all. 
      </p>
    </div>

    <p>
      To give the city some credit, there has been (mostly rhetorical)
      <a target="_blank" href="http://www.visionzerophl.com/">
	progress</a>,
      but it has been agonizingly slow to this point, and the city only plans
      to pursue funding to make the protected bike lanes more permanent in 2019.
      Given that the task force was established with the goal of <i>eliminating</i> traffic
      fatalities by 2030, three years to begin to pursue funding seems rather inadequate. 
    </p>

    <p>
      While the city is pursuing Vision Zero to improve public health by preventing traffic
      injuries and fatalities, it's important to realize this is also an issue of equity.
      Designing a transportation system around a machine that costs tens of thousands of dollars
      necessarily makes life more difficult for the city's poorest residents.
      Speaking more broadly, Philadelphia's situation with bike lanes is indicative of
      other issues where decarbonization can be coupled to measures that
      make society more equitable, bring health benefits to communities, and generally
      make our city more livable for the people that reside here, with the added benefit of
      slowing down climate change and giving future generations hope that they might live on
      a healthy planet. 
    </p>
    
  </div>
  <hr>
  <div ng-include="'html/blogComments.html'"></div>
</div>
