<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h2 class="blogTitle">Philadelphia's Emissions Targets</h2>
  <div class="blogPost" id="post-20170808">

    <p>
      Mayor Jim Kenney has set emissions targets for Philadelphia that mimic the United
      States' Paris commitment, which is <a target="_blank" href="http://www4.unfccc.int/ndcregistry/PublishedDocuments/United%20States%20of%20America%20First/U.S.A.%20First%20NDC%20Submission.pdf">26-28% by 2025</a>.
      Philadelphia also has a long term commitment of 80% by 2050. I'd like to explore these
      targets a bit, both in their adequacy and the difficulty the city might have in
      reaching them. 
    </p>

    <p>
      In the <a target="_blank" href="/#/blog/20170722">last post</a> I argued that the US Paris commitments
      were not consistent with the headline goal of the Paris agreement. This is without even
      considering <a target="_blank" href="http://paris-equity-check.org/#open-graph">equity</a>;
      that is, those of us with large footprints, using up
      more of the budget, ought to reduce our emissions the fastest. It is far easier for
      us to give up a flight per year, or to switch our diets from beef to chicken, than it is
      for the global poor to eliminate the tiny amount of carbon dioxide they use every year.
    </p>

    <p>
      The Paris agreement implies year on year reductions of at least 4.5% globally to have
      a good chance at holding to 2 degrees. As the richest country in the history of the
      world, the United States should be decarbonizing much faster than that. Quantitative equity
      schemes are tricky, however, so putting a number on how fast we should be going is
      difficult. Should every person in the world have an equal share of the budget? In that
      case, the majority in the US used up their budget a long time ago. Perhaps we should
      use a starting date of 1990, when the first IPCC report came out, but the results would
      still not be kind to the US. There are schemes that try to strike a balance in
      responsibilities, but they are somewhat technical, and it's not clear that they are
      fair. It's worth reflecting on that the only realistic schemes for
      preventing dangerous climate change put a disproportionate burden on those that will suffer
      the most from the effects of climate change, and who have done the least to cause the
      problem in the first place. In any case, the 4.5%
      reduction rate represents an absolute minimum for what we must be doing if we are serious
      about preventing dangerous climate change. 
    </p>

    <p>
      So then how do Philadelphia's emission targets stack up? Emissions inventories are
      pretty sparse for Philadelphia for some reason; as far as I can tell, there are only
      four years since 1990 that have been
      <a target="_blank" href="https://beta.phila.gov/media/20160429144916/2015-citywide-greenhouse-gas-emissions-inventory-for-2012.pdf">
	inventoried.
      </a>
      Since there is no inventory for 2005, and the US targets are relative to 2005,
      we're stuck using 2006 as a reference date instead. I've assumed here that emissions
      reductions have been and will be linear, which is supported remarkably well
      (r<sup>2</sup> of 0.998) by the two inventories Philadelphia has conducted since 2006.
    </p>

    <div class="chart_wrapper">
      <svg class="chart"></svg>
    </div>
    <div class="chart_caption">
      <p>
	A comparison of Philadelphia's emission targets to minimum (4.5% rate of reduction)
	and somewhat more equitable (7% rate of reduction) scenarios that are compatible with
	the two degree target.
      </p>
    </div>

    <p>
      There are a couple of things worth pointing out here. First, it seems we are on our
      way to meeting the 2025 target of a 26% reduction in emissions, at least as of 2012,
      when the most recent emissions inventory was conducted. Second, this target is deeply
      inadequate under any scheme to hit 2 degrees Celsius. Finally, our target of an 80%
      reduction in emissions by 2050 is compatibile with 2 degrees only if we ignore equity
      completely and if we reduce our emissions very quickly earlier on.
      The pathway we take to reach our targets matters. </p>

    <p>
      The difference between our targets and what would be required to prevent dangerous
      warming of the planet is stark. A target of
      2 degrees Celsius implies a 40%-60% reduction in emissions by 2025 if we start today.
      That's only 8 years from now; can you imagine your carbon footprint being cut in half
      in only eight years? Can you imagine the whole city doing that? The whole country?
    </p>

    <p>
      Climate change demands genuine change in the way we lead our daily lives. And
      if we don't start to change the way we live today, the earth will
      <a target="_blank" href="http://nymag.com/daily/intelligencer/2017/07/climate-change-earth-too-hot-for-humans.html">
	force us to tomorrow.
      </a>
      In the coming posts, I'll have more on what we're doing to start transitioning toward
      a carbon neutral way of life, and some steps we can take to move more quickly. 
    
  </div>
  <hr>
  <div ng-include="'html/blogComments.html'"></div>
</div>
