<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h2 class="blogTitle">Philadelphia's Emissions Targets</h2>
  <div class="blogPost" id="post-20170808">

    <p>
      Mayor Jim Kenney has set emissions targets for Philadelphia that mimic the United
      States' Paris agreement, which is <a href="http://www4.unfccc.int/ndcregistry/PublishedDocuments/United%20States%20of%20America%20First/U.S.A.%20First%20NDC%20Submission.pdf">26-28% by 2025</a>.
      Philadelphia also has a long term commitment of 80% by 2050. I'd like to explore these
      targets a bit, both in their adequacy and the difficulty Philadelphia might have in
      reaching them. 
    </p>

    <p>
      In the <a href="/#/blog/20170722">last post</a> I argued that the US Paris commitments
      were not consistent with the headline goal of the Paris agreement. This is without even
      considering <a href="http://paris-equity-check.org/#open-graph">equity</a>;
      that is, those of us with large footprints, using up
      more of the budget, ought to reduce our emissions the fastest. It is far easier for
      us to give up a flight per year, or to switch our diets from beef to chicken, than it is
      for the global poor to eliminate the tiny amount of carbon dioxide they use every year.
    </p>

    <p>
      The Paris agreement implies year on year reductions of at least 4.5% globally to have
      a good chance at holding to 2 degrees. As the richest country in the history of the
      world, the United States should be decarbonizing much faster than that. Quantitative equity
      schemes are tricky, however, so putting a number on how fast we should be going is
      difficult. Should every person in the world have an equal share of the budget? In that
      case, the majority in the US used up their budget a long time ago. Perhaps we should
      use a starting date of 1990, when the first IPCC report came out, but the results would
      still not be kind to the US. Regardless of what we consider equity though, the 4.5%
      figure represents an absolute minimum for what we must be doing if we are serious
      about preventing dangerous climate change. 
    </p>

    <p>
      So then how do Philadelphia's emission targets stack up? Emissions inventories are
      pretty sparse for Philadelphia for some reason; as far as I can tell, there are only
      four years since 1990 that have been
      <a href="https://beta.phila.gov/media/20160429144916/2015-citywide-greenhouse-gas-emissions-inventory-for-2012.pdf">
	inventoried.
      </a>
      Since there is no inventory for 2005, and the US targets are relative to 2005,
      we're stuck using 2006 as a reference date instead.
    </p>

    <div class="chart_wrapper">
      <svg class="chart"></svg>
    </div>
    <div class="chart_caption">
      <p>
	A comparison of Philadelphia's emission targets to minimum and somewhat more equitable
	scenarios that are compatible with the two degree target.
      </p>
    </div>

    <p>
      There are a couple of things worth pointing out here. First, it seems we are on our
      way to meeting the 2025 target of a 26% reduction in emissions, at least as of 2012,
      when the most recent emissions inventory was conducted. Second, our target of an 80%
      reduction in emissions by 2050 is compatibile with 2 degrees only if we ignore equity
      and if we reduce our emissions very quickly earlier on. The pathway we take to get to
      our targets matters. Third, our 2025 target of a 26% reduction is deeply inadequate
      under any scheme to hit 2 degrees Celsius.
    </p>

    <p>
      It's worth pointing out just how big of a difference we're talking here. A target of
      2 degrees Celsius implies a 40%-50% reduction in emissions by 2025 if we start today.
      That's only 8 years from now. Can you imagine your carbon footprint being cut in half
      in only eight years? Can you imagine the whole city doing that?
    </p>

    <p>
      Climate change demands radical change in the way we lead our lives, every day. And
      if we don't start to change the way we live today, the earth will
      <a href="http://nymag.com/daily/intelligencer/2017/07/climate-change-earth-too-hot-for-humans.html">force our children
      to tomorrow.</a>
    
  </div>
  <hr>
  <div ng-include="'html/blogComments.html'"></div>
</div>
