<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h1>About Me</h1>

  <div class="wrap-about">
    <div class="about_me">
      <p>
	Welcome to my website! As you've probably guessed, my name is Ken Weaver. I'm currently
	finishing up my Masters degree in Physical Chemistry at University of Pennsylvania.
	I'm passionate about climate change, computer science, and politics. I believe that, in
	more ways than one, we are at a point in history where the world will change very quickly.
	I am interested in helping to make sure that, as a society,
	we are prepared as best as we can be
	for those changes. Speaking broadly, I believe that the best way to do that is with robust,
	open systems and institutions that are subject to feedback from the public and from experts.
	For technology, I think this means open source development when it serves the public
	interest.
      </p>
      <p>
	My skills include knowledge of several programming languages, including Python and C++.
	I am familiar with most common algorithms and data structures, and can leverage ideas
	from these to create application specific instances of both. I have a small amount of
	web design experience, largely back end, although I can design the full stack when
	necessary. My familiarity with technologies includes Node, Angular, Express, and MongoDB,
	which are used for this site, as well as Matplotlib and Git.
      </p>
    </div>

    <div class="profile_pic">
      <img src="/images/ProfilePic.jpg" class="img-circle img-responsive">
    </div>
  </div>
  
  <div class="contact_info">
    <hr class="footer_line">
    email: wken@sas.upenn.edu
  </div>
</div>
