<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <header role="banner">
    <h1>Ken's Site</h1>
  </header>

  <h3>Intro</h3>

  <div class="intro">
    <p>
      Hey everybody, my name's Ken, this is my website.
      If you're looking for something specific, just poke around
      a little bit and I'm sure you'll find it.
    </p>
  </div>

  <h3>Chat</h3>

  <div class="chat" id="messages">
    <ul>
      <li ng-repeat="x in messages track by $index">
        {{ x.name }}: {{x.message}}
      </li>
    </ul>
  </div>
  <form class="form-inline" ng-submit="sendMessage()">
    <div class="form-group">
      <label for="exampleInputName2">Name</label>
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Name" ng-model="name">
      <label for="exampleInputName2">Message</label>
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Message" ng-model="message">
      <button type="submit" class="btn btn-default">Send message</button>
  </form>
</div>
