<div ng-include="'html/navBar.html'"></div>

<div class="container">
  <h1>About Me</h1>

  <div class="wrap-about">
    <div class="about_me">

      <p>
	Welcome! You've somehow found your way to my corner of the internet. My name's Ken, and
	I'm interested in using interactive technologies to communicate the causes,
	consequences, and, most importantly, solutions to climate change. My hope is that I can
	contribute in some small way to improving our understanding of what is probably the most
	important issue of our time. If you head over to my
	<a href="/#/blog">
	  blog
	</a>
	you'll find some pieces I've written/developed.
      </p>

      <p>
	If you have any questions or
	suggestions, shoot me an email at kbweaver221@gmail.com, or tweet at me
	<a target="_blank" href="http://twitter.com/KenClimate">
	  @KenClimate<!--
	--></a>.
	Maybe one day I'll come up with better handles for online.
      </p>
      
    </div>

    <div class="profile_pic">
      <img src="/images/ProfilePic.jpg" class="img-circle img-responsive">
    </div>
  </div>
  
  <div class="contact_info">
    <hr class="footer_line">
    email: wken@sas.upenn.edu
  </div>
</div>
