<div class="container">
  <header role="banner">
    <h1>Mail</h1>
  </header>

  <div ng-include="'html/navBar.html'"></div>

  <h3>Intro</h3>

  <div class="intro">
    <p>
      This is to send any outgoing mail from kenweaver.me.
      Right now, it's probably not the most reliable thing
      in the world.
    </p>
  </div>
  
  <form class="form" ng-submit="sendMail()" id="emailForm">
    <div class="form-group">
      <label for="recipient">To</label>
      <input type="text" class="form-control" id="recipient" placeholder="To" ng-model="recipient">
      <label for="text">Text</label>
      <textarea class="form-control" id="text" placeholder="Text" ng-model="text" form="usrForm"></textarea>
      <button type="submit" class="btn btn-default">Send email</button>
  </form>
</div>
