<div ng-include="'html/navBar.html'"></div>

<div class="container">
  
  <header role="banner">
    <h1>Minecraft Page</h1>
  </header>

  <div ng-include="'html/navBar.html'"></div>

  <h3>Hi There!</h3>

  <div class="intro">
    <p>
      So I think I just want to use this space for us to put ideas down for builds, as well
      as organize big projects. A few people have expressed interest in building a city, so
      with any luck I'll be able to make some tools that will help with that. 
    </p>
  </div>

  <img src="/images/Mountain.jpg" class="img-responsive" alt="Mountain">

  <div class="notes">
    <p>
      Okay so some city building notes for us.
    </p>
    <p>
      For right now, I think we should try and leave the swamp as it is. Please don't chop
      down any trees, since there is no way to get swamp trees to grow (planting oak trees
      just gives you normal oak trees). Also, try not to do too much mountain leveling or
      terraforming just yet, until we get settled. That's all I've got!
    </p>
  </div>

  <div class="update">
    <p>
      Update for July 15th, 2016. City hall, the library, and the courthouse (not visible) are all
      basically complete. Still to do is the church and all the resident's buildings, but these require
      little collaboration, so progress will be made incrementally. An image for comparison is given
      below; I think we've made good progress.
    </p>
  </div>

  <img src="/images/Mountain2.jpg" class="img-responsive" alt="Updated Mountain">
</div>
