<div class="container">
  
  <header role="banner">
    <h1>Minecraft Page</h1>
  </header>

  <div ng-include="'html/navBar.html'"></div>

  <h3>Hi There!</h3>

  <div class="intro">
    <p>
      So I think I just want to use this space for us to put ideas down for builds, as well
      as organize big projects. A few people have expressed interest in building a city, so
      with any luck I'll be able to make some tools that will help with that. 
    </p>
  </div>

   <img src="/images/mountain.png" class="img-responsive" alt="Mountain"> 
  
</div>
