<div class="container">
  <header role="banner">
    <h1>Movie!</h1>
  </header>

  <input type="file" accept="video/*"/ ng-model="video"
         onchange="angular.element(this).scope().fileChange(this)">
  <video id="video" src="{{vidURL}}" controls autoplay></video>
  <p>{{vidURL}}</p>
  <h2>Movie List</h2>

<p>1.) Young Frankenstein </p>
<p>2.) Sicario </p>
<p>3.) Ex Machina </p>
<p>4.) Deadpool </p>
<p>5.) Zootopia </p>
<p>6.) Saving Private Ryan </p>
<p>7.) Batman vs. Superman </p>
<p>8.) Howl's Moving Castle </p>
<p>9.) Spirited Away </p>
</div>
