<div class="form-group">
  <form (ngSubmit)="onSubmit()" #dataQuery="ngForm">
    <label for="state">State</label>
    <select class="form-control" id="state" [(ngModel)]="model.state" name="state" required>
      <option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>
    </select>

    <label for="county">County</label>
    <select class="form-control" id="county" [(ngModel)]="model.county" name="county">
      <option *ngFor="let county of model.state.county_set" [ngValue]="county">{{county}}</option>
    </select>

    <label for="start">Start Date</label>
    <input class="form-control" type="date" id="start" [(ngModel)]="model.start" name="start">

    <label for="end">End Date</label>
    <input class="form-control" type="date" id="end" [(ngModel)]="model.end" name="end">

    <button type="submit" class="btn btn-success" [disabled]="!dataQuery.form.valid">Submit</button>
  </form>

  <ul>
    <li *ngFor="let datum of data">{{datum.date}}: {{datum.case_count}}</li>
  </ul>
</div>
