<div class="container">
  
  <header role="banner">
    <h1>General Chemistry</h1>
  </header>

  <div ng-include="'html/navBar.html'"></div>

  <h3>Hi There!</h3>

  <div class="intro">
    <p>
      Hey all! My name's Ken, this is my page for General Chemistry TAing.
      Any information I need to convey to you guys I'll do here, and I'll
      post any helpful links I find. 
    </p>
  </div>

  <h3>Contact Info</h3>

  <p>Ken Weaver</p>
  <p>wken@sas.upenn.edu</p>
  <p>Office Hours: TBD, Chem Library</p>

  <h3>Links</h3>

  <a href="http://www.ptable.com" target="_blank">Dynamic Periodic Table</a>
  <br>
  <a href="https://www.khanacademy.org/science/chemistry" target="_blank">Khan Academy</a>
  <br>

  <h3>Information</h3>
  <h4>Safety</h4>
  <p>
    Okay, so please don't be stupid. I don't want anyone to get hurt
    (and neither do you, hopefully), so be smart about lab practices.
  </p>
  <p>
    As far as attire goes, make sure you wear pants (not leggings),
    close toed shoes (cover your whole foot), and shirts with sleeves.
    Make sure you ALWAYS have eye protection, as well as your lab aprons
    and gloves. Any questions, email me. 
  </p>
</div>
