<div class="container">
  
  <header role="banner">
    <h1>General Chemistry</h1>
  </header>

  <div ng-include="'html/navBar.html'"></div>

  <h3>Hi There!</h3>

  <div class="intro">
    <p>
      Hey all! My name's Ken, this is my page for General Chemistry TAing.
      Any information I need to convey to you guys I'll do here, and I'll
      post any helpful links I find. 
    </p>
  </div>

  <h3>Contact Info</h3>

  <p>Ken Weaver</p>
  <p>wken@sas.upenn.edu</p>
  <p>Office Hours: Wednesday 3:30-4:30, Chem Library. If you can't make this, 
  let me know and we'll figure something out.</p>

  <h3>Links</h3>

  <a href="http://www.ptable.com" target="_blank">Dynamic Periodic Table</a>
  <br>
  <a href="https://www.khanacademy.org/science/chemistry" target="_blank">Khan Academy</a>
  <br>
  <a href="https://canvas.upenn.edu" target="_blank">Canvas</a>
  <br>
  <a href="https://docs.google.com/presentation/d/1bXap2mN91QZKEeysq8YXRIIBIXcVeaIMrnc9OlM0JV8/edit?usp=sharing" target="_blank">First day presentation</a>
  <br>
  <h3>Information</h3>
  
  <p> Announcements and whatnot to go here (and on canvas, hopefully). </p>
  <h4>Lab Orientation</h4>
  <p> Things were a little hectic the first day, so just to recap what 
  you guys should have done:</p>
  <ul>
    <li>Completed the form on canvas</li>
    <li>Complete the safety form <a href="https://sas.upenn.edu/dept/chem/lab-safety-agreement.html">here</a></li>
    <li>Email me that list of what you want to do/learn/whatever</li>
  </ul>
  <p> If you haven't done any of those things, please just do them 
  before next week. I should be up on canvas soon, so starting 
  sometime this week I'll be able to post things there as well.</p>
</div>
